.nombre {
    
    font-size: x-large;
}
.in-nombre {
    height: 30px;
}
.flexbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1320px;
    height: 520px;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
    background-color: aqua;
}
.flexbox .board {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    background-color: gray;
    padding: 15px;    
}

.flexbox .board .card {
    padding: 15px 25px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 15px;
    
}
.builder {
    display: flex;
    flex-direction: column;
    width: 680px;
    /* max-width: 300px; */
    background-color: black;
    padding: 15px 25px;
}

#opcion {
    
    text-align: center;
    /* background-color: blueviolet; */
    height: 150px;
    /* max-width: 18rem; */
    max-height: 150px;
}

#resultado {
    text-align: center;
    /* background-color: chartreuse; */
    height: 150px;
    /* max-width: 18rem; */
    max-height: 150px;
}
#operaciones {
    text-align: center;
    /* max-width: 18rem;    */
    height: 130px;
}
.color {
    background-color: darkslateblue;
}
.border{
    border-style: solid;
    border-width: 2px;
    border-color: 660033;
    background-color: cc3366;
}
.border-dot {
    border-style: dashed;
    border-width: 2px;
    border-color: 660033;
    background-color: cc3366;
}
.flexbox-ej {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
    height: 135px;
    background-color: grey;
    width: 100%;
    max-width: 400px;
}
.ejercicios {
    padding: 15px 55px;
    background-color: rgb(133, 131, 235);
    cursor: pointer;
    height: 72px;
    max-width: 100px;
    margin-bottom: 15px;
}
.image{
    /* background: url('../img/1.jpg') no-repeat; */
    width: 50px;
    align: center;
}
.acciones {
    display: flex;
    justify-content: space-between;
}
.caja{
    display: flex;
    justify-content: space-around;

}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;    
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    display: flex;
    width: 11.5em;
    height: 3em;
    line-height: 3;
    background: white;
    overflow: hidden;
    border-radius: .25em;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #879292;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}
.select:hover::after {
    color: #1024d8;
}
.title-type {
    text-align: center;
}
