.nombre {
    
    font-size: medium;
}
.in-nombre {
    height: 10px;
}
.dark{
    background-color: #0ca707b9;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    margin-bottom: 15px;
}
.flexbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1320px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff8dc;
}
.flexbox .board {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 220px;
    background-color: white;
    padding: 15px;   
    overflow-y: auto; 
}

.flexbox .board .card {
    padding: 15px 25px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 15px;
    
}
.builder {
    display: flex;
    flex-direction: column;
    width: 680px;
    /* max-width: 300px; */
    
    padding: 15px 25px;
}

#opcion {
    
    text-align: center;
    /* background-color: blueviolet; */
    height: 150px;
    /* max-width: 18rem; */
    max-height: 150px;
}

#resultado {
    text-align: center;
    /* background-color: chartreuse; */
    height: 150px;
    /* max-width: 18rem; */
    max-height: 150px;
}
#operaciones {
    text-align: center;
    /* max-width: 18rem;    */
    height: 130px;
}
.color {
    background-color: rgba(60, 42, 175, 0.733);
}
.border{
    border-style: solid;
    border-width: 2px;
    border-color: 660033;
    background-color:black;
}
.border-dot {
    border-style:dashed;
    border-width: 2px;
    color:white;
    border-color:rgba(83, 63, 212, 0.733);
    background-color: rgba(61, 36, 224, 0.733);
}
.flexbox-ej {
    display: flex;
    justify-content: space-between; 
    overflow: hidden;
    /* margin: 0 auto; */
    padding: 15px;
    height: 135px;
    background-color:white;
    width: 400px;
    /* max-width: 400px; */
}
.ejercicios {
    padding: 15px 55px;
    background-color: rgb(133, 131, 235);
    cursor: pointer;
    height: 72px;
    max-width: 100px;
    margin-bottom: 15px;
}
.image{
    /* background: url('../img/1.jpg') no-repeat; */
    width: 50px;

}
.acciones {
    display: flex;
    justify-content: space-between;
}
.caja{
    display: flex;
    justify-content: space-around;

}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;    
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #e6a224;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
    display: block;
}
.select {
    position: relative;
    display: flex;
    width: 8.5em;
    height: 3em;
    line-height: 3;
    background: white;
    overflow: hidden;
    border-radius: .25em;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #879292;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}
.select:hover::after {
    color: cornflowerblue;
}
.title-type {
    text-align: center;
    color: black;
}
.op {
    font-size: 14px;
}

/* files css */
.center {
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.form-input {
    width:170px;
    padding:20px;
    background: whitesmoke;
    border:2px dashed #555;
}
.form-input input {
    display:none;
}
.form-input label {
    display:block;
    width:100%;
    height:50px;
    line-height:50px;
    text-align:center;
    background:#333;
    color:#fff;
    font-size:10px;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:600;
    border-radius:10px;
    cursor:pointer;
}
.form-input img {
    width:100%;
    display:none;
    margin-top:10px;
}
.pr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: teal; */
}
